<div id='header'>
  <%= link_to_unless_current "Users", users_path %> |
  <%= link_to_unless_current "Mixtapes", mixtapes_path %> |
  <%= link_to_unless_current "Albums", albums_path %> |
  <%= link_to_unless_current "Artists", artists_path %> |
  <%= link_to_unless_current "Songs", songs_path %> |
  <%= link_to_unless_current "Genres", genres_path %> 
</div>