<h1>Under Construction</h1>

<nav>
	<%= link_to_unless_current "Home", root_path %>
	<%= link_to_unless_current "Registration", signup_path %>
	<%= link_to_unless_current "About Us", about_path %>
	<%= link_to_unless_current "Log In", login_path %>
	<%= link_to_unless_current "Log Out", logout_path %>
</nav>