<%= form_for @mixtape do |mixtape_form| %>

<div class="field">
  <%= mixtape_form.label :name %>
  <%= mixtape_form.text_field :name %>
</div>

<div class="field">
  <%= mixtape_form.fields_for :mixtape_songs, @mixtape.mixtape_songs.build do |mixtape_songs_fields| %>
    <%= mixtape_songs_fields.label :song_id %>
    <%= mixtape_songs_fields.select :song_id, Song.all.collect{|s| [s.name, s.id]} %>
  <% end %>
</div>

<div class="actions">
  <%= mixtape_form.submit %>
</div>

<% end %>
