<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mixtape.name %>
</p>

<p>
  <b>Songs:</b>
  <ul>
    <% @mixtape.songs.each do |song| %>
    <li><%= link_to song.name, song %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Users:</b>
  <ul>
    <% @mixtape.users.each do |user| %>
    <li><%= link_to user.name, user %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_mixtape_path(@mixtape) %> |
<%= link_to 'Back', mixtapes_path %>
