<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Songs:</b>
  <ul>
    <% @album.songs.each do |s| %>
      <li><%= link_to song.name, song %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
