<h1>About</h1>

<h2>Our Team</h2>

<ul>
  <% @authors.each do |author_name| %>
  <li><%= author_name %></li>
  <% end %>
</ul>

<nav>
	<%= link_to_unless_current "Home", root_path %>
	<%= link_to_unless_current "Registration", signup_path %>
	<%= link_to_unless_current "About Us", about_path %>
	<%= link_to_unless_current "Log In", login_path %>
	<%= link_to_unless_current "Log Out", logout_path %>
</nav>