<h1>Mixtape Application!</h1>

<h2>This is our temporary homepage.</h2>

<p>It has been <%= time_ago_in_words('2012-07-06') %> since we started working on this project!</p>

<nav>
	<%= link_to "About", about_path %>
	<%= link_to "Registration", signup_path %>
	<%= link_to "Log In", login_path %>
	<%= link_to "Log Out", logout_path %>
</nav>